
:root {
  --bg-color: #100e1d;
  --secondary-bg-color: #1e213a;
  --font-color: #cacaca;
  --background-section-pokemon:#fabf8e;
  --background-search-bar:rgba(226, 96, 9, 0.575);
}

@font-face {
  src: url("~@/assets/fonts/Raleway/Raleway-Regular.ttf");
  font-family: "Raleway-Regular";
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
header {
  background-color:var(--secondary-bg-color);
  width: max(28.688em);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

* {
  text-align: center;
  margin: 0;
  font-family: Raleway-Regular;
}

button {
  cursor: pointer;
}

h2 {
  font-size: 3em;
  margin-bottom: 0.2em;
}

p {
  color: black;
  font-size: 1.1em;
  margin: 0.5em 0;
  padding: 0.5em;
}

aside{
  display: flex;
  height: 110vh; 
  
}